<!DOCTYPE html>
<html>
  <head>
    <title>ezyvote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
      <%= render 'layouts/nav' %>
      
      <%=  render 'layouts/messages' %>
      <div class="container">
    <%= yield %>
    </div>
    <!--Here was footer, now he is gone-->
    <div>
    <%= render "layouts/footer" %>
    </div>
  </body>
</html>

